@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color: rgb(15, 23, 42);
}
@media (prefers-color-scheme: dark) {

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1{
  font-size: 32px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* create room model*/

 /* Styles for the modal and overlay */
 .modal-overlay {
  display: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}


/* scrollbar.css */

/* Width and thickness of the scrollbar */
::-webkit-scrollbar {
  
  width: 8px;
}

/* Track (the empty space in the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #242E47;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E293B;
}
